.sd-property-block {
    max-width: 335px;
    background: #EAF6F9;
    border-radius: 25px;
}

.sd-property-block-image {
    max-width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.sd-property-block-content {
    padding: 20px 0 5px 15px;
    font-size: 19px;
}

.sd-property-content-line {
    padding: 10px 0;
    line-height: 24px;
}

.sd-property-block-content-address {
    color: #050505;
    font-weight: 400;
}

.sd-property-block-content-cost {
    font-weight: 700;
    line-height: 24px;
    color: #555555;
}
.sd-property-block-content-description {
    color: #FF7759;
}