.sd-browse-content-block {
    padding-top: 1.5vh;
}

.sd-buttons-block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.sd-buttons-block button:nth-child(2) {
    background: #FFAD6C;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center
}

.swiper.swiper-initialized .swiper-button-next {
    right: 0;
}

.swiper.swiper-initialized .swiper-button-prev {
    left: 0;
}