.sd-browse-content-block {
    padding-top: 1.5vh;
}

.sd-buttons-block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.sd-buttons-block button:nth-child(2) {
    background: #FFAD6C;
}