.sd-counter {
    background: #F44040;
    font-style: normal;
    position: absolute;
    top: 15px;
    left: 90%;
    padding: 2px 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    color: #FFFFFF;
}
